.srf-starts{
    .biz-plan-column{
        min-width: 550px;
    }
    .spec{
        min-width: 140px;
    }
    .comunity{
        min-width: 210px;
        width: 210px;
    }
    .backlog{
        min-width: 150px;
        width: 150px;
    }
    .gm{
        min-width: 75px;
        width: 75px;
    }
    .avg{
        min-width: 120px;
        width: 120px;
    }
    .plan{
        min-width: 170px;
    }
    .ofUnits{
        min-width: 90px;
    }
    .month-col{
        min-width: 100px;
    }
    .ant-table-content{
        overflow-x: scroll;
    }
    tfoot td{
        border-top: 1px solid #ccc;
        text-align: center;
    }
    // td, th{
    //     text-align: center;
    // }
 table{
    tr:nth-child(3n+3) td{  border-bottom: 1px solid #ccc;}
 } 
}
